/* this file is loaded by index.html and styles the page */

* {
    box-sizing: border-box;
  }
  
  * {
    font-family: 'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    color: #666666;
  }
  
  html, body {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  h1 {
    font-size: 3em;
  }
  /*
  form {
    background-color: #eee;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    max-width: 40ch;
  }
  input {
    border: 1px solid silver;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  form button {
    background-color: #bbbbf2;
    border: 2px solid currentColor;
    border-radius: .25em;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.4em;
    padding: 0.25em 1em;
    max-width: 20ch;
  }
  form button:hover {
    background-color: lavender;
  }
  */
  
  footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid lightgrey;
  }

/* 共通要素  */
.area {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(
      90deg,
      rgba(208, 147, 82, 0.6),
      rgba(192, 134, 70, 0.6) 60%,
      rgba(208, 147, 82, 0.6)
    ),
    repeating-radial-gradient(
      ellipse at 60% 500%,
      #D9B690,
      #D9B690 0.2%,
      #E4C19E 0.6%,
      #E4C19E 1%
    );
}

/* ログイン画面 */
.area-login {
  justify-content: flex-end;
}
.login-book {
  z-index: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.login-page {
  z-index: 2;
  display: flex;
  width: 23em;
  height: 32.5em;
  position: relative;
  box-shadow: 1.25em 2em 2.75em -0.6em rgb(0 0 0 / 20%), 0 0 2px rgb(0 0 0 / 15%);
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  flex-direction: column;
  justify-content: center;
  background-color: papayawhip;
}
.login-page:before {
  z-index: 1;
  content: '';
  position: absolute; /* 親要素に重なるように */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* 👇白の透明度を調整したグラデーション */
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 80%,
    rgba(255, 255, 255, 0.4) 94%,
    rgba(255, 255, 255, 0.5) 96%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 1.5px 0 0 #ffd99e;
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
}
.login-page-after {
  z-index: 0;
    position: absolute;
    position: relative;
    bottom: 1.45em;
    left: 2px;
    display: block;
    box-sizing: border-box;
    width: 22.75em;
    /* left: auto; */
    height: 2em;
    content: '';
    background-color: #afada3;
    border-radius: 0.5em;
    box-shadow: -2px 0 0 0 #ffd99e, 0 1.5px 1.5px 0 #ffd99e;
}
.login-err-area {
  display: flex;
  height: 3.5em;
  position: absolute;
  top: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-err {
  margin: 0.2em;
}
.app-name-area {
    display: flex;
    justify-content: center;
    position: relative;
}
.app-name {
    width: 80%;
}
.login-form {
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 22.5em;
    padding: 1.5625em;
    text-align: center;
}
.login-input-area {
    display: flex;
    height: 1em;
    margin: 0.8em 0;
    align-items: center;
}
.login-input-area-first {
    margin-top: 0;
}
.login-input-area-second {
    margin-bottom: 0.3em;
}
.login-input {
    background-color: #ffbf7f;
    border: 2px solid linen;
    border-radius: 0.67em;
}
.login-input:focus {
  outline: solid 1.5px #ffbf7f;
}
.icon {
  color: #ffbf7f;
}
.login-button {
  position: relative;
  top: 0.1em;
  width: 4em;
  padding: 0.7em 1em 0;
  margin: auto;
  background: papayawhip;
  border: none;
  font-size: 1.5em;
  transition-duration: 0.2s;
  cursor: pointer;
}
.login-other-area{
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.login-other {
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
}
.login-bookshelf {
  z-index: 0;
  width: 100%;
  height: 2.5em;
  position: absolute;
  background: 
    repeating-radial-gradient( 
      circle at -1000% 0%, 
      rgba(116, 77, 48, 0.7), 
      #573216 7.5%, 
      rgba(116, 77, 48, 0.9) 10% ), 
    repeating-radial-gradient( 
      circle at 150% 0%, 
      #573216, 
      #573216 0.1%, 
      #744d30 0.4%, 
      #744d30 0.5% );
}

/*仮登録*/ /*ユーザー名通知*/ /*パスワードリセット*/
/*注文票*/
.pre-create-label {
  background-color: #FFF;
  padding: 1em;
}
.pre-create-label-headding-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 7em;
  width: 29.9em;
}
.pre-create-label-headding {
  display: flex;
  border-bottom: solid 1px #000;
  position: relative;
  justify-content: center;
}
.pre-create-label-headding-main {
  width: 7em;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.12em;
}
.pre-create-label-headding-message {
  width: 14em;
  position: relative;
  top: 0.5em;
}
.pre-create-label-headding-name-date-right-area {
  display: flex;
  position: relative;
  padding: 0.5em 0;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.pre-create-label-headding-name {
  width: 5em;
  font-size: 0.8em;
}
.pre-create-label-headding-date {
  font-size: 0.8em;
}
.pre-create-label-headding-right {
  width: 40%;  
}
.pre-create-app-name {
  width: 100%;
}
.pre-create-label table {
  border-collapse: collapse;
}
.pre-create-label tr {
  height: 2.5em;
}
.pre-create-label td, th{
  border: 1px solid #000;
}
.pre-create-label th:nth-of-type(1), .pre-create-label td:nth-of-type(1) {
  width: 10em;
}
.pre-create-label th:nth-of-type(2), .pre-create-label td:nth-of-type(2) {
  width: 15.6em;
}
.pre-create-label th:nth-of-type(3), .pre-create-label td:nth-of-type(3) {
  width: 4em;
  text-align: center;
}
.pre-create-label th {
  border-bottom: 3px double #000; /* ヘッダ行の下線 */
  color: #000;
}
.pre-create-label td {
  padding: 0 5px; 
}
.pre-create-label td input { 
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
}
.pre-create-label-text:focus {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}
.pre-create-label-botton {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: center;
  color: #000;
}
.pre-create-label-footer {
  display: flex;
  height: 1em;
  width: 100%;
  align-items: center;
}

/*新規登録 */
/* 貸出票 */
.create-label {
  background-color: #FCF3E1;
}
.create-label table {
  border-collapse: collapse;
}
.create-label tr {
  height: 2.5em;
}
.create-label td, th{
  border: 1px solid #663300;
}
.create-label th:nth-of-type(1), .create-label td:nth-of-type(1) {
  border-left: none;
  width: 10em;
}
.create-label th:nth-of-type(2), .create-label td:nth-of-type(2) {
  width: 15.6em;
}
.create-label th:nth-of-type(3), .create-label td:nth-of-type(3) {
  border-right: none;
  width: 4em;
  text-align: center;
}
.create-label th {
  border-top: 3px double #663300; /* ヘッダ行の下線 */
  color: #663300;
}
.create-label td {
  padding: 0 5px; 
}
.create-label td input { 
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
}
.create-label-text:focus {
  border-bottom: 1px solid #663300;
  padding-bottom: 3px;
}
.create-label-headding-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6.5em;
}
.create-label-headding-area-line {
  background-color: #663300;
  height: 3.5px;
  width: 100%;
}
.create-label-headding {
  display: flex;
  border-bottom: solid 1px #663300;
  position: relative;
  top: 0.5em;
  width: 23em;
  justify-content: center;
}
.create-label-headding-number-area {
  display: flex;
  position: relative;
  top: 0.3em;
  right: 1em;
  width: 90%;
  justify-content: flex-end;
}
.create-label-headding-number { 
  border-bottom: dashed 1px #663300;
  display: flex;
  position: relative;
  width: 4em;
  justify-content: center;
}
.create-label-botton {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: center;
  color: #663300;
}
.create-label-footer {
  display: flex;
  height: 2em;
  width: 100%;
  align-items: center;
}
.create-label-footer-message { 
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 98%;
  font-size: 0.8em;
}

/* ユーザー名通知 */
.username-notification-headding-main {
  width: 12em;
}

/* パスワードリセット */
.password-resets-headding-main {
  width: 13.5em;
}

/*ホーム*/
.area-home {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.book-area {
  display: flex;
  background-color: #ffbf7f;
  width: 41em;
  height: 31em;
  justify-content: center;
  align-items: flex-start;
}
.book-page-area {
  display: flex;
  position: relative;
}
.page {
  background-color: #FFF;
  padding: 1.5em;
  width: 20em;
  height: 30em;
  margin-top: 0.5em;
}
.first-page {
  position: relative;
  right: 50%;
}
.page-left {
  border-right: 1px solid #ccc;
}
.page-right {
  border-left: 1px solid #ccc;
}
.home-book-page-area-input{display:none;}
.home-book-page-area-input~span{
  transition:1.5s;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
.home-book-page-area-input+span{
  left:50%;
  transform-origin:left;
  transform:perspective(1500px) rotateY(0deg);
}
.home-book-page-area-input+span+span{
  right:50%;
  transform-origin:right;
  transform:perspective(1500px) rotateY(180deg);
}
.home-book-page-area-input:checked+span{
  transform:perspective(1500px) rotateY(-180deg);
}
.home-book-page-area-input:checked+span+span{
  transform:perspective(1500px) rotateY(0deg);
}
.note {
  background-color: #fff; /* 背景色 */
  background-image: linear-gradient(180deg, #ccc 1px, transparent 1px); /* 罫線の色と太さ  */
  background-size: 100% 2.5em; /* 行の高さ */
  line-height: 2.5em; /* 文字の高さ */
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}
.note li {
  height: 2.5em;
}
.bookmark-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 1.5em;
}
.bookmark-ribbon-area {
  display: flex;
  align-items: center;
  position: relative;
  top: 0.5em;
}
.bookmark-ribbon {
  width: 6.25em;
  height: 0.625em;
  background-color: #FFF;
}
.bookmark-ribbon-left {
  transform:rotate(65deg);
  position: relative;
  right: -1.9em;
}
.bookmark-ribbon-right {
  transform:rotate(-65deg);
  position: relative;
  left: -1.9em;
}
.bookmark {
  list-style-type: none;
  margin: 2em;
  padding: 1em;
  background-color: #f4a460;
  width: 9.5em;
  height: 20em;
}
.bookmark li {
  line-height: 2.5em;
  color: #FFF;
}
.bookmark form {
  position: relative;
  top: 1em;
}
.bookmark-button {
  padding: 0;
  border: none; 
  outline: none;
  background: transparent;
  font-size: 1em;
  color: #FFF;
  cursor: pointer;
}
.bookmark a, .bookmark i {
  text-decoration: none;
  color: #FFF;
}

/* 追加 */
.area-add {
  flex-direction: row;
  align-content: center;
}
.book-area-add {
  height: 35em;
  width: 49em;
}
.page-add {
  height: 34em;
  width: 24em;
  display: flex;
}

.add-book-page-area-input {display:none;}
.add-book-page-area-input~span {
  transition:1.5s;
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  position:absolute;
}
.add-book-page-area-input+span+span {
  right:50%;
  transform-origin:right;
  transform:perspective(1500px) rotateY(180deg);
}
.add-book-page-area-input+span {
  left:50%;
  transform-origin:left;
  transform:perspective(1500px) rotateY(0deg);
}
.add-book-page-area-input:checked+span+span {
  transform:perspective(1500px) rotateY(0deg);
}
.add-book-page-area-input:checked+span {
  transform:perspective(1500px) rotateY(-180deg);
}
.book-page-area .page-add-first-right {
  transform: none;
}
.book-page-area .page-add-first-left {
  right: 50%;
  transform: none;
}
.note-add { 
  background-size: 100% 2em;
  line-height: 2em;
}
.note-add li {
  height: 2em;
}
.add-period { 
  width: 9.8em;
}

/* 詳細 */
/*ラジオボタンを全て消す*/
input[name="edit_radio"] {
  display: none;
}
#edit_datas {
  display: none;
}
#edit:checked ~ #edit_datas {
  display: block;
}
/*ラジオボタンを全て消す*/
input[name="not_edit_radio"] {
  display: none;
}
#not_edit_datas {
  display: none;
}
#not_edit:checked ~ #not_edit_datas {
  display: block;
}
