/* this file is loaded by index.html and styles the page */

* {
    box-sizing: border-box;
  }
  
  * {
    font-family: 'メイリオ' ,Meiryo, 'ヒラギノ角ゴ Pro W3' , 'Hiragino Kaku Gothic Pro' , 'ＭＳ Ｐゴシック' , 'Osaka' ,sans-serif;
    color: #666666;
  }
  
  html, body {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  h1 {
    font-size: 3em;
  }
  /*
  form {
    background-color: #eee;
    display: grid;
    grid-gap: 1em;
    padding: 1em;
    max-width: 40ch;
  }
  input {
    border: 1px solid silver;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  form button {
    background-color: #bbbbf2;
    border: 2px solid currentColor;
    border-radius: .25em;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.4em;
    padding: 0.25em 1em;
    max-width: 20ch;
  }
  form button:hover {
    background-color: lavender;
  }
  */
  
  footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid lightgrey;
  }

/* ホーム画面 */
.login-area {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background:
    linear-gradient(
      90deg,
      rgba(208, 147, 82, 0.6),
      rgba(192, 134, 70, 0.6) 60%,
      rgba(208, 147, 82, 0.6)
    ),
    repeating-radial-gradient(
      ellipse at 60% 500%,
      #D9B690,
      #D9B690 0.2%,
      #E4C19E 0.6%,
      #E4C19E 1%
    );
}
.login-book {
  z-index: 2;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}
.login-page {
  z-index: 2;
  display: flex;
  width: 23em;
  height: 32.5em;
  position: relative;
  box-shadow: 1.25em 2em 2.75em -0.6em rgb(0 0 0 / 20%), 0 0 2px rgb(0 0 0 / 15%);
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
  flex-direction: column;
  justify-content: center;
  background-color: papayawhip;
}
.login-page:before {
  z-index: 1;
  content: '';
  position: absolute; /* 親要素に重なるように */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* 👇白の透明度を調整したグラデーション */
  background: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 80%,
    rgba(255, 255, 255, 0.4) 94%,
    rgba(255, 255, 255, 0.5) 96%,
    rgba(255, 255, 255, 0) 100%
  );
  box-shadow: 0 1.5px 0 0 #ffd99e;
  border-radius: 0.5em;
  border-bottom-left-radius: 0;
}
.login-page-after {
  z-index: 0;
    position: absolute;
    position: relative;
    bottom: 1.45em;
    left: 2px;
    display: block;
    box-sizing: border-box;
    width: 22.75em;
    /* left: auto; */
    height: 2em;
    content: '';
    background-color: #afada3;
    border-radius: 0.5em;
    box-shadow: -2px 0 0 0 #ffd99e, 0 1.5px 1.5px 0 #ffd99e;
}
.login-err-area {
  display: flex;
  height: 3.5em;
  position: absolute;
  top: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-err {
  margin: 0.2em;
}
.app-name-area {
    display: flex;
    justify-content: center;
    position: relative;
}
.app-name {
    width: 80%;
}
.login-form {
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 22.5em;
    padding: 1.5625em;
    text-align: center;
}
.login-input-area {
    display: flex;
    height: 1em;
    margin: 0.8em 0;
    align-items: center;
}
.login-input-area-first {
    margin-top: 0;
}
.login-input-area-second {
    margin-bottom: 0.3em;
}
.login-input {
    background-color: #ffbf7f;
    border: 2px solid linen;
    border-radius: 0.67em;
}
.login-input:focus {
  outline: solid 1.5px #ffbf7f;
}
.icon {
  color: #ffbf7f;
}
.login-button {
  position: relative;
  top: 0.1em;
  width: 4em;
  padding: 0.7em 1em 0;
  margin: auto;
  background: papayawhip;
  border: none;
  font-size: 1.5em;
  transition-duration: 0.2s;
  cursor: pointer;
}
.login-other-area{
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.login-other {
  text-decoration: none;
  font-size: 0.8em;
  cursor: pointer;
}
.login-bookshelf {
  z-index: 0;
  width: 100%;
  height: 2.5em;
  position: absolute;
  background: 
    repeating-radial-gradient( 
      circle at -1000% 0%, 
      rgba(116, 77, 48, 0.7), 
      #573216 7.5%, 
      rgba(116, 77, 48, 0.9) 10% ), 
    repeating-radial-gradient( 
      circle at 150% 0%, 
      #573216, 
      #573216 0.1%, 
      #744d30 0.4%, 
      #744d30 0.5% );
}

/* 初期登録 */
.pre-create-area {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(
      90deg,
      rgba(208, 147, 82, 0.6),
      rgba(192, 134, 70, 0.6) 60%,
      rgba(208, 147, 82, 0.6)
    ),
    repeating-radial-gradient(
      ellipse at 60% 500%,
      #D9B690,
      #D9B690 0.2%,
      #E4C19E 0.6%,
      #E4C19E 1%
    );
}
/* 貸出票 */
.pre-create-label {
  background-color: #FCF3E1;
}
table, td, th{
  border: 1px solid black;
}
.pre-create-label-th {
  display: flex;
  justify-content: center;
  width: 290%;
}
.pre-create-label-headding {
  background-image: linear-gradient(180deg, #663300 1px, transparent 1px); /* 罫線の色と太さ  */
  background-size: 100% 2em; /* 行の高さ */
  line-height: 2em; /* 文字の高さ */
  padding-top: -1px;
  padding-bottom: 1px; /* 最終行の下にも罫線を引く */
  width: 15em;
}

/* 詳細 */
/*ラジオボタンを全て消す*/
input[name="edit_radio"] {
  display: none;
}
#edit_datas {
  display: none;
}
#edit:checked ~ #edit_datas {
  display: block;
}
/*ラジオボタンを全て消す*/
input[name="not_edit_radio"] {
  display: none;
}
#not_edit_datas {
  display: none;
}
#not_edit:checked ~ #not_edit_datas {
  display: block;
}
